<!DOCTYPE html>
<html lang="en" >

<head>
  <meta charset="UTF-8">
  <title>vue05</title>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">

  
      <link rel="stylesheet" href="css/style.css">

  
</head>

<body>

  <h1>Spidoche Shop</h1>
<div id="app">
    <div class="products-container">
        <div class="products">
            <h2>Products</h2>
            <ul class="products-list">
                <li v-for="(product, index) in products">
                    <img src="http://via.placeholder.com/150x150" alt="" />
                    <h3>{{product.title}}</h3>
                    <button v-on:click="add_to_cart(product,index)">Add to order</button>
                </li>  
            </ul>
        </div>
    </div>
 
    <div class="options-container">
        <div class="options-inner">
            <div class="shipping">
                <h2>Shipping Method</h2>
                <ul>
                    <li>
                        <input id="shipping-standard" checked name="shipping" type="radio">
                        <label for="shipping-standard">Standard</label
                    </li>
                    <li>
                        <input id="shipping-ups" name="shipping" type="radio">
                        <label for="shipping-ups">UPS</label
                    </li>
                    <li>
                        <input id="shipping-fedex" name="shipping" type="radio">
                        <label for="shipping-fedex">Fedex</label>          
                    </li>
                </ul>
            </div>

            <div class="type">
                <h2>Payment Method</h2>
                <ul>
                    <li>
                        <input id="payment-creditcard" value="creditcard" checked name="payment" type="radio">
                        <label for="payment-creditcard">Credit Card</label>
                    </li>
                    <li>
                        <input id="payment-paypal" value="paypal" name="payment" type="radio">
                        <label for="payment-paypal">Paypal</label>
                    </li>
                    <li>
                        <input id="payment-apple" value="apple" name="payment" type="radio">
                        <label for="payment-apple">Apple Pay</label>          
                    </li>
                </ul>
            </div>

        </div><!-- .options-inner -->             
    </div><!-- .options-container -->
    
    <div class="order-review">
        <div class="order-review-inner">
            <div class="order">
                <h2>Your Order</h2>
                <ul>
                    <li v-for="(product, index) in cart">
                         {{product.quantity}} {{product.title}} 
                        <span class="number">
                        <button v-on:click="add_one(index)">+</button>
                        <button v-on:click="remove_one(index)">-</button>
                        <input type="number" v-model.number="product.quantity">
                        </span>
                       
                        <span v-if="product.quantity === 0">
                            <button class="btn-remove-this" v-on:click="delete_item(index)">remove this product?</button>
                        </span>
                    </li>
                </ul>
            </div>
            
            <div class="address">
                <h2>Shipping Address</h2>
                <ul>
                    <li class="no-address">
                        <span>Add shipping address</span>
                        <button>Add</button>
                    </li>
                </ul>
            </div>
            
            <!--
            <div class="promotion">
                <label for="promotion">Promotion Code</label>
                <input id="promotion" value="" type="text">
            </div>
            -->
            
            <div class="total">
                <div class="total-qty">Total Qty : {{total_quantity}}</div>
                <div class="total-prices">Total Prices : {{total_prices}}$</div>
            </div>
            
            <div class="action">
                <button class="btn-primary btn-buy">CHECKOUT</button>
            </div>       
            
        </div><!-- .order-review-inner -->
    </div><!-- .order-review -->
            
       
        
</div><!-- #app -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.13/vue.js'></script>

  

    <script  src="js/index.js"></script>




</body>

</html>
